*{
  scroll-behavior: smooth;
}

.article {
  &__container {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__autor-data {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }

  &__autor {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    color: #2e2e2e;
  }

  &__data {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    color: #2e2e2e;
  }

  &__line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e0e0e0;

  }

  &__flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
  }

 
&__main-img-p{
  width: 100%;
}
  &__social-item {
    width: 72px;
    height: 72px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social-item-img{
    width: 26px;
    height: 26px;
  }


  &__main-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-transform: capitalize;
    color: #000000;
  }

  &__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #2e2e2e;
    margin-top: 30px;
    
  }

  &__main-img {
    margin-top: 25px;
  }

  &__img-description {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: #828282;
    margin-top: 10px;
  }

  &__parentheses {
    width: 30px;
    height: 30px;
    margin-top: 35px;
  }

  &__text-italic {
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    color: #000000;
    margin-top: 30px;
  }

  &__mobile-social{
    display: none;
  }
}



.styki-cont {
  position: sticky ;
top: 0px; 
}


.article-blog-bg{
  background: url(../../img/article/article-blog.png);
  .banner-title{
    margin-left: 50px;
  }

  .banner-nav{
    margin-left: 35px;
    transform: translateY(15px);
  }
}

.news-item-block{
  display: flex;
  justify-content: space-between;

  .news__item{
    width: 49%;
    margin-top: 50px;
  }
  .news__item-title{
    height: 220px;
  }
}

.margin-article{
 width: 125px;
 height: 10px;
 background: transparent;
}


.could-business__ul.article{
  width: 100%;
  margin-left: 20px;
  .could-business__list.article{
    width: 90%;
    max-width: 100%;
    font-style: normal;
font-weight: 600;
font-size: 15px;
color: #2E2E2E;

  }
}


.sublist-article{
  margin-bottom: 18px;
}

.line-sub-article-title{
  margin-top: 40px;
}

.under-article-item{
  margin-top: 140px;
}

.article__to-top {
  background: #FFFFFF;
box-shadow: 1px 1px 10px rgba(38, 103, 255, 0.05), 3px 3px 8px rgba(38, 103, 255, 0.2), 4px 4px 20px rgba(38, 103, 255, 0.25);
width: 72px;
height: 72px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
position: fixed;
background: #fff;
z-index: 100;
right: auto;
left: auto;
top: 0;
margin-left: 1040px;
margin-top: 80vh;
}
.article__rectangle {
  position: relative;
  width: 16px;
  height: 16px;
  border-top: 3px solid  #2667FF;
  border-left: 3px solid  #2667FF;
  transform: rotate(44deg);
  margin-top: 5px;
  background: #fff;
  z-index: 100;
}

.blog-tag{
  margin: 35px 0 -40px -10px;
}


.news-item-block-blog{
  display: flex;
  justify-content: space-between;
  .news__item{
    width: 49%;
  }
  .news__item-title{
    height: 180px;
  }
}