.our_services{
    background: url(../../img/bg-section3.png) no-repeat;
    height: 2006px;
    background-size: cover;
    margin-top: -340px;
    padding-top: 300px;
}

.text-services 
{
    h4{
    font-family: Roboto;
 margin-bottom: 30px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: #2667FF;
}
h2{
    font-weight: bold;
font-size: 54px;
line-height: 48px;
color: #171717;
}
}